* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

body {
  background-color: #d59471;
}

nav {
  background-color: #ab4b11;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 40px;

  height: 50px;
  list-style: none;
  padding: 0px 20px;
}

nav ul li a {
  font-size: 24px;
  text-decoration: none;
  color: white;
}

body > ul {
  margin-left: 32px;
}

main {
  padding: 20px;
}
