* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  border-bottom: 0.5px solid black;
  padding: 10px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  gap: 40px;
  list-style: none;
}

nav a {
  display: block;
  padding-bottom: 20px;
  color: black;
  text-decoration: none;
}

.active {
  font-weight: bold;
  border-bottom: 5px solid red;
  padding-bottom: 15px;
}

.logo {
  padding-bottom: 0;
}

.promotion {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.promotion img {
  width: 400px;
}

.promotion div {
  width: 400px;
}

#menu article {
  width: 200px;
  display: grid;
  text-align: center;
  gap: 20px;
}

#menu article img {
  height: 200px;
}
