* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#gems {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.gem {
  text-align: center;
}

.gem img {
  width: 200px;
}
