* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

body {
  background-color: grey;
}

nav {
  width: 100%;
  padding: 0 40px;
}

nav ul {
  height: 50px;
  width: 100%;
  background-color: salmon;
  list-style: none;

  display: flex;
  align-items: center;
  gap: 40px;
}

nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}
