* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

body {
  background-color: #d7d3d3;
}

nav {
  background-color: #9dad6f;
  padding: 18px;
}

nav ul {
  height: 50px;
  list-style: none;

  display: flex;
  align-items: center;
  gap: 40px;
}

nav ul li {
  font-size: 24px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

.item {
  margin-left: 16px;
  border: 1px solid black;
  padding: 8px;
  width: 100px;
}
