p {
  color: red;
  background-color: black;
}

#lemon {
  padding: 100px;
}

.banana-guard {
  font-size: 40px;
}

h4 + p {
  height: 30px;
  background-color: red;
  color: white;
}

body h1 ~ p {
  padding-bottom: 200px;
}

ul li {
  list-style: url(https://cdn.iconscout.com/icon/free/png-256/free-tomato-emoji-icon-download-in-svg-png-gif-file-formats--food-vegetable-emoj-drink-twemoji-pack-icons-30690.png);
  margin-left: 250px;
}

body > h4 {
  font-size: 10px;
}

body {
  font-family: fantasy, Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
}

a {
  background-color: aquamarine;
  display: block;
  height: 200px;
}

span {
  /* doesn't change anything  */
  /* inline elements can't change vertical properties */
  height: 300px;
}
